/* --- COLOR VARIABLES --- */
/* --- COLOR GRADIENTS --- */
/* --- SIZES --- */
/* --- BREAKPOINTS --- */
/* --- Desktop-first approach - Regular styles automatically applied between 1280px and 2000px --- */
/*

@mixin random-name($param1, paramN) {
    Set of CSS Declarations to be reutilized multiple times

    padding: $param1;
}

*/
/* 

.random-selector {
    Regular CSS declarations
    
    @include randon-name(10px);
}

*/
/*

@function random-name($param1, $param2, $paramN) {
    @return $param1 * $param2
}

*/
/* 

.random-selector {
    Regular CSS declarations
    
    padding: randon-name(10, 2) * 1px;
}

*/
/* GENERAL RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: baseline; }

/* HTML */
html {
  font-size: 62.5%; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media screen and (min-width: 2000px) {
    html {
      font-size: 87.5%; } }

/* BODY */
body {
  box-sizing: border-box;
  background: #121212;
  color: #F5F5F5;
  font-size: 1.4rem; }

/* MAIN CONTENT */
main section {
  padding: 8rem 5rem; }

/* OTHER MINOR ELEMENTS */
a {
  text-decoration: none; }

button {
  background-color: transparent; }

ul, ol {
  list-style: none; }

li, dd, blockquote {
  margin-left: 0; }

img {
  width: 100%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@font-face {
  font-family: roboto-extralight;
  src: url("./assets/fonts/roboto/Roboto-ExtraLight.ttf"); }

@font-face {
  font-family: roboto-light;
  src: url("./assets/fonts/roboto/Roboto-Light.ttf"); }

@font-face {
  font-family: roboto-regular;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: roboto-medium;
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf"); }

@font-face {
  font-family: roboto-semibold;
  src: url("./assets/fonts/roboto/Roboto-SemiBold.ttf"); }

@font-face {
  font-family: roboto-bold;
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: roboto-extrabold;
  src: url("./assets/fonts/roboto/Roboto-ExtraBold.ttf"); }

@font-face {
  font-family: bai-extralight;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-ExtraLight.ttf"); }

@font-face {
  font-family: bai-light;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Light.ttf"); }

@font-face {
  font-family: bai-regular;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf"); }

@font-face {
  font-family: bai-medium;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Medium.ttf"); }

@font-face {
  font-family: bai-semibold;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf"); }

@font-face {
  font-family: bai-bold;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf"); }

@font-face {
  font-family: michroma;
  src: url("./assets/fonts/michroma/Michroma-Regular.ttf"); }

@font-face {
  font-family: poppins-bold;
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf"); }

@font-face {
  font-family: poppins-extrabold;
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf"); }

body {
  font-family: 'roboto-light';
  font-size: 1.4rem;
  color: #F5F5F5;
  letter-spacing: 2px;
  line-height: 2.25rem;
  text-align: center; }

.link:hover,
.link--container,
.element--clickable {
  cursor: pointer; }

.link--container {
  display: flex;
  justify-content: center;
  align-items: center; }

.navlink {
  transition: transform .5s; }
  .navlink:hover {
    cursor: pointer;
    font-family: 'bai-bold'; }
  .navlink--primary {
    background: #00FFFF;
    color: #272643;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out; }
    .navlink--primary:hover {
      box-shadow: 0 0 15px #00FFFF;
      transform: scale(1.05); }
  .navlink--underline {
    text-underline-offset: .5rem; }
    .navlink--underline:hover {
      text-decoration: underline;
      transform: translateX(0.5rem); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'bai-medium'; }
  .navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
    .navbar__list--horizontal {
      flex-direction: row; }
    .navbar__list--vertical {
      flex-direction: column;
      align-items: flex-start; }

.navmenu {
  padding: 2rem; }
  .navmenu__title {
    color: inherit;
    font-family: 'bai-bold';
    text-align: left;
    margin-bottom: 1.5rem; }
  .navmenu__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 1.5rem; }

.banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner--full {
    height: 95vh; }
    .banner--full .banner__heading {
      font-size: 4.5rem; }
  .banner--half {
    height: 60vh;
    background-position: center; }
    .banner--half .banner__heading {
      font-size: 3rem; }
  .banner--1 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/space-beer_banner.webp"); }
  .banner--2 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/space-sunrise_banner.webp"); }
  .banner--3 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/earth-moon_banner.webp"); }
  .banner__msg {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 55%;
    font-family: 'michroma';
    color: #F5F5F5; }
    .banner__msg--left {
      text-align: left; }
    .banner__msg--right {
      text-align: right; }
  .banner__heading {
    line-height: 5rem; }

.pricetag__prefix {
  color: #2c698d; }

.pricetag__amount {
  font-family: 'poppins-extrabold';
  font-size: 2rem;
  text-transform: uppercase; }

.pricetag__prompt {
  font-size: 4rem;
  border: 1px solid #272643;
  border-radius: 50%;
  padding: .25rem .5rem;
  margin-left: auto; }

.card {
  background-color: #e3f6f5;
  height: 30rem;
  border-radius: 1.5rem;
  min-width: 20rem;
  max-width: 30rem;
  transition: all 1s; }
  .card:hover {
    box-shadow: 0 0 15px #00FFFF;
    transform: scale(1.05); }
  .card__img {
    height: 45%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat; }
    .card__img--celestia {
      background-image: url("./assets/images/celestia.webp"); }
    .card__img--moon {
      background-image: url("./assets/images/moon.webp"); }
    .card__img--venus {
      background-image: url("./assets/images/venus.webp"); }
    .card__img--mars {
      background-image: url("./assets/images/mars.webp"); }
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55%;
    color: #272643;
    align-items: flex-start;
    text-align: left;
    padding: 0 2rem; }
  .card__heading {
    font-family: 'poppins-extrabold';
    font-size: 2rem;
    text-transform: uppercase; }
  .card__body {
    font-family: 'roboto-regular';
    font-size: 1.4rem; }

.header {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  transition: all 1s;
  z-index: 100; }
  .header[data-transparency="true"] {
    animation-name: header-fadeout;
    animation-timing-function: linear;
    animation-duration: .75s;
    animation-fill-mode: forwards; }
    .header[data-transparency="true"] .header__main .navlink {
      color: #F5F5F5; }
      .header[data-transparency="true"] .header__main .navlink--primary {
        color: #272643; }
      .header[data-transparency="true"] .header__main .navlink:hover {
        text-shadow: 0 0.5rem 1.5rem #ffffff; }
    .header[data-transparency="true"] .header__main .header__icon svg path {
      stroke: #F5F5F5;
      stroke-width: 1; }
  .header[data-transparency="false"] {
    animation-name: header-fadein;
    animation-timing-function: linear;
    animation-duration: .75s;
    animation-fill-mode: forwards; }
    .header[data-transparency="false"] .header__main .navlink {
      color: #272643; }
      .header[data-transparency="false"] .header__main .navlink:not(.navlink--primary):hover {
        text-shadow: 0 0.5rem 1.5rem #121212; }
    .header[data-transparency="false"] .header__main .header__icon svg path {
      stroke: #272643;
      stroke-width: 1.5; }
    .header[data-transparency="false"] .header__main .header__icon:first-child svg path {
      stroke: #272643;
      stroke-width: 2.5; }
  .header__icon {
    width: 5rem;
    height: 5rem; }
    @media screen and (min-width: 1280px) {
      .header__icon {
        display: none; } }
  .header__main {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__main .navbar {
      display: none; }
    @media screen and (min-width: 1280px) {
      .header__main {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .header__main .navbar {
          display: flex;
          flex: 1;
          justify-content: center; }
          .header__main .navbar__list {
            gap: 3rem; }
        .header__main .navlink {
          text-transform: uppercase; }
          .header__main .navlink:hover {
            transform: scale(1.1); } }
    @media screen and (min-width: 2000px) {
      .header__main {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header__main .navbar {
          flex: initial; }
        .header__main .link--container {
          margin: 0 3vw; } }
  .header__logo {
    max-width: 25rem; }
  .header__expand {
    display: none; }
    @media screen and (min-width: 1280px) {
      .header__expand {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: flex-start;
        transition: max-height 1.5s;
        overflow: hidden; }
        .header__expand[data-expansion="true"] {
          max-height: 20rem; }
        .header__expand[data-expansion="false"] {
          max-height: 0; }
        .header__expand .navmenu {
          color: #272643;
          padding: 2rem; }
          .header__expand .navmenu__column {
            gap: 10rem; }
        .header__expand .navlink {
          color: #272643; } }
    @media screen and (min-width: 2000px) {
      .header__expand {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        gap: 9vw; } }

@keyframes header-fadeout {
  from {
    background-color: #ffffff;
    box-shadow: 0 2.5px 100px 5px #4B0082; }
  to {
    background-color: #121212;
    box-shadow: none; } }

@keyframes header-fadein {
  from {
    background-color: #121212;
    box-shadow: none; }
  to {
    background-color: #ffffff;
    box-shadow: 0 2.5px 100px 5px #4B0082; } }

.homepage__offers {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .homepage__offers .card {
    width: 20%; }
