/* --- COLOR VARIABLES --- */
/* --- COLOR GRADIENTS --- */
/* --- SIZES --- */
/* --- BREAKPOINTS --- */
/* --- Desktop-first approach - Regular styles automatically applied between 1280px and 2000px --- */
/*

@mixin random-name($param1, paramN) {
    Set of CSS Declarations to be reutilized multiple times

    padding: $param1;
}

*/
/* 

.random-selector {
    Regular CSS declarations
    
    @include randon-name(10px);
}

*/
/*

@function random-name($param1, $param2, $paramN) {
    @return $param1 * $param2
}

*/
/* 

.random-selector {
    Regular CSS declarations
    
    padding: randon-name(10, 2) * 1px;
}

*/
/* GENERAL RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: baseline; }

/* HTML */
html {
  font-size: 62.5%; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 360px) {
    html {
      font-size: 40%; } }
  @media screen and (min-width: 2000px) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 2800px) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 3500px) {
    html {
      font-size: 150%; } }

/* BODY */
body {
  box-sizing: border-box;
  background: #121212;
  color: #F5F5F5;
  font-size: 1.4rem; }

/* MAIN CONTENT */
main section {
  padding: 8rem 5rem; }
  main section:nth-child(odd):not(:first-child) {
    background-color: #2c698d; }
  @media screen and (max-width: 1000px) {
    main section {
      padding: 5rem; } }

/* OTHER MINOR ELEMENTS */
a {
  text-decoration: none; }

button {
  background-color: transparent; }

ul, ol {
  list-style: none; }

li, dd, blockquote {
  margin-left: 0; }

img {
  width: 100%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes pulsate {
  0% {
    transform: scale(0.9); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes shine-in {
  0% {
    box-shadow: 0 0 2rem #FF4500; }
  50% {
    box-shadow: 0 0 7.5rem #FF4500; }
  100% {
    box-shadow: 0 0 4rem #FF4500; } }

@keyframes shine-out {
  0% {
    box-shadow: 0 0 3rem #FF4500; }
  100% {
    box-shadow: none; } }

@keyframes appear-bottom {
  0% {
    transform: translate(-50%, 120vh); }
  75% {
    transform: translate(-50%, -60%); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes disappear-bottom {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    transform: translate(-50%, -60%); }
  100% {
    transform: translate(-50%, 120vh); } }

@font-face {
  font-family: roboto-extralight;
  src: url("./assets/fonts/roboto/Roboto-ExtraLight.ttf"); }

@font-face {
  font-family: roboto-light;
  src: url("./assets/fonts/roboto/Roboto-Light.ttf"); }

@font-face {
  font-family: roboto-regular;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: roboto-medium;
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf"); }

@font-face {
  font-family: roboto-semibold;
  src: url("./assets/fonts/roboto/Roboto-SemiBold.ttf"); }

@font-face {
  font-family: roboto-bold;
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: roboto-extrabold;
  src: url("./assets/fonts/roboto/Roboto-ExtraBold.ttf"); }

@font-face {
  font-family: titillium-extralight;
  src: url("./assets/fonts/titillium/TitilliumWeb-ExtraLight.ttf"); }

@font-face {
  font-family: titillium-light;
  src: url("./assets/fonts/titillium/TitilliumWeb-Light.ttf"); }

@font-face {
  font-family: titillium-regular;
  src: url("./assets/fonts/titillium/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: titillium-semibold;
  src: url("./assets/fonts/titillium/TitilliumWeb-SemiBold.ttf"); }

@font-face {
  font-family: titillium-bold;
  src: url("./assets/fonts/titillium/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: bai-extralight;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-ExtraLight.ttf"); }

@font-face {
  font-family: bai-light;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Light.ttf"); }

@font-face {
  font-family: bai-regular;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf"); }

@font-face {
  font-family: bai-medium;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Medium.ttf"); }

@font-face {
  font-family: bai-semibold;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf"); }

@font-face {
  font-family: bai-bold;
  src: url("./assets/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf"); }

@font-face {
  font-family: michroma;
  src: url("./assets/fonts/michroma/Michroma-Regular.ttf"); }

@font-face {
  font-family: poppins-regular;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf"); }

@font-face {
  font-family: poppins-bold;
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf"); }

@font-face {
  font-family: poppins-extrabold;
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf"); }

body {
  font-family: 'roboto-light';
  font-size: 1.4rem;
  color: #F5F5F5;
  letter-spacing: 2px;
  line-height: 2.25rem;
  text-align: center; }

h1, h2, h3 {
  font-family: 'michroma';
  margin-bottom: 1.5rem; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

.link:hover,
.link--container,
.element--clickable {
  cursor: pointer; }

.link--container {
  display: flex;
  justify-content: center;
  align-items: center; }

.container--between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.scrollblock {
  overflow: hidden; }

.btn {
  background-color: #00FFFF;
  color: #272643;
  border: none;
  padding: 1.2rem 2.4rem;
  font-family: 'titillium-semibold';
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.8rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out; }
  .btn:hover {
    cursor: pointer; }
  .btn--secondary {
    color: #F5F5F5;
    background-color: #4B0082;
    border: 1px solid #00FFFF; }
    .btn--secondary:hover {
      filter: brightness(1.2);
      box-shadow: 0 0 15px #00FFFF;
      transform: scale(1.05); }

.navlink {
  transition: transform .5s; }
  .navlink:hover {
    cursor: pointer;
    font-family: 'bai-bold'; }
  .navlink--primary {
    background: #00FFFF;
    color: #272643;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out; }
    .navlink--primary:hover {
      box-shadow: 0 0 15px #00FFFF;
      transform: scale(1.05); }
  .navlink--underline {
    text-underline-offset: .5rem; }
    .navlink--underline:hover {
      text-decoration: underline;
      transform: translateX(0.5rem); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'bai-medium'; }
  .navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
    .navbar__list--horizontal {
      flex-direction: row; }
    .navbar__list--vertical {
      flex-direction: column;
      align-items: flex-start; }

.navmenu {
  padding: 2rem; }
  .navmenu__title {
    color: inherit;
    font-family: 'bai-bold';
    text-align: left;
    margin-bottom: 1.5rem; }
  .navmenu__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 1.5rem; }

.quantifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5rem; }
  .quantifier__concept {
    margin-bottom: 1rem; }
  .quantifier__category {
    text-transform: capitalize; }
  .quantifier__description {
    color: #272643;
    font-size: 1rem; }
  .quantifier__counter {
    font-size: 2.8rem; }
  .quantifier__operator {
    display: inline-block;
    text-align: center;
    color: #2c698d;
    border: 1px solid #2c698d;
    padding: .5rem .5rem 1rem .7rem;
    border-radius: 50%;
    min-width: 3.5rem;
    user-select: none; }
  .quantifier__count {
    font-family: 'titillium-semibold';
    margin: 0 1.5rem; }

.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  position: relative;
  background-color: transparent;
  color: #2c698d;
  font-family: 'titillium-regular';
  line-height: 1.75rem;
  text-align: left;
  padding: 1rem;
  border: 1px solid #2c698d;
  border-radius: 4px;
  transition: filter 1s; }
  .selector:hover {
    cursor: pointer; }
  .selector--disabled {
    filter: opacity(0.3) grayscale(1); }
    .selector--disabled:hover {
      cursor: not-allowed; }
  .selector--error {
    border: 1px solid #FF4500 !important;
    color: #FF4500; }
    .selector--error .selector__value {
      filter: opacity(0.3); }
  .selector__id {
    color: inherit;
    font-size: 1rem; }
  .selector__value {
    color: #272643;
    font-family: 'titillium-bold';
    text-transform: uppercase; }
    .selector__value--smaller {
      font-size: 1rem; }
    .selector__value--small {
      font-size: 1.2rem; }
    .selector__value--medium {
      font-size: 1.4rem; }
    .selector__value--regular {
      font-size: 1.6rem; }
  .selector__choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 6rem;
    left: 0;
    background-color: #e3f6f5;
    padding: 1rem;
    border: 1px solid #2c698d;
    animation-name: fadein;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: both; }
    .selector__choice--quantity {
      width: max-content; }
  .selector__option {
    display: inline-block;
    width: 100%;
    padding: .5rem;
    text-transform: capitalize;
    z-index: 1; }
    .selector__option:not(:last-child) {
      margin-bottom: .5rem; }
    .selector__option:hover {
      background-color: #bae8e8; }
    .selector__option--disabled {
      filter: opacity(0.3) grayscale(1); }
      .selector__option--disabled:hover {
        background-color: transparent;
        cursor: not-allowed; }

.banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner--full {
    height: 100vh; }
    @media screen and (min-width: 2800px) {
      .banner--full {
        height: 60vh; } }
    .banner--full .banner__heading {
      font-size: 4.5rem; }
      @media screen and (max-width: 768px) {
        .banner--full .banner__heading {
          font-size: 3rem; } }
      @media screen and (max-width: 600px) {
        .banner--full .banner__heading {
          font-size: 2rem; } }
  .banner--half {
    height: 60vh;
    background-position: center; }
    .banner--half .banner__heading {
      font-size: 3rem; }
  .banner--1 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/space-beer_banner.webp"); }
    @media screen and (min-width: 2800px) {
      .banner--1 {
        background-image: url("./assets/images/earth-moon_banner.webp"); } }
    @media screen and (max-width: 768px) {
      .banner--1 {
        background-image: url("./assets/images/space-sunrise_banner.webp"); } }
  .banner--2 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/space-sunrise_banner.webp"); }
  .banner--3 {
    background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3), rgba(18, 18, 18, 0.55)), url("./assets/images/earth-moon_banner.webp"); }
  .banner__msg {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 55%; }
    @media screen and (max-width: 1000px) {
      .banner__msg {
        top: initial;
        bottom: 3rem; } }
    @media screen and (max-width: 360px) {
      .banner__msg {
        display: none; } }
    @media screen and (min-width: 2800px) {
      .banner__msg {
        top: 60%; } }
    .banner__msg--left {
      text-align: left; }
    .banner__msg--center {
      text-align: center; }
    .banner__msg--right {
      text-align: right; }
  .banner__heading {
    line-height: 5rem; }
  @media screen and (max-width: 360px) {
    .banner__logo {
      max-width: 34rem;
      position: absolute;
      bottom: 15rem;
      left: 50%;
      transform: translateX(-50%); } }

.pricetag {
  position: relative; }
  .pricetag__prefix {
    color: #2c698d; }
  .pricetag__amount {
    font-family: 'poppins-extrabold';
    font-size: 2rem;
    text-transform: uppercase; }
  .pricetag__prompt {
    position: absolute;
    right: 0;
    bottom: -5px;
    font-size: 2rem;
    border: 2px solid #272643;
    border-radius: 50%;
    padding: .25rem .5rem .25rem .75rem;
    margin-left: auto; }

.card {
  background-color: #e3f6f5;
  height: 30rem;
  border-radius: 1.5rem;
  min-width: 20rem;
  max-width: 30rem;
  transition: all 1s; }
  .card:hover {
    box-shadow: 0 0 15px #00FFFF;
    transform: scale(1.05); }
    .card:hover .pricetag__prompt {
      box-shadow: 0 0 15px #00FFFF;
      transform: scale(1.05); }
  .card__img {
    height: 45%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat; }
    .card__img--celestia {
      background-image: url("./assets/images/celestia.webp"); }
    .card__img--moon {
      background-image: url("./assets/images/moon.webp"); }
    .card__img--venus {
      background-image: url("./assets/images/venus.webp"); }
    .card__img--mars {
      background-image: url("./assets/images/mars.webp"); }
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55%;
    color: #272643;
    align-items: flex-start;
    text-align: left;
    padding: 0 2rem; }
  .card__heading {
    width: 100%;
    font-family: 'poppins-extrabold';
    font-size: 2rem;
    text-transform: uppercase; }
  .card__body {
    width: 100%;
    font-family: 'roboto-regular';
    font-size: 1.4rem; }
    .card__body .pricetag {
      width: 100%; }

.intersection--cosmic {
  position: relative;
  background-image: linear-gradient(177deg, #121212 30%, #2c698d, #bae8e8, #2c698d, #121212 70%); }
  @media screen and (min-width: 2000px) {
    .intersection--cosmic {
      height: 400px; } }
  @media screen and (min-width: 2800px) {
    .intersection--cosmic {
      height: 600px; } }
  @media screen and (max-width: 1000px) {
    .intersection--cosmic {
      margin: 4rem 0; } }
  .intersection--cosmic__ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 40%;
    background-image: radial-gradient(yellow, #bae8e8 60%);
    width: 450px;
    height: 40px;
    transform: rotate(177deg);
    border-radius: 50%; }
    @media screen and (max-width: 1000px) {
      .intersection--cosmic__ellipse {
        top: 35%;
        left: 18%; } }
    @media screen and (max-width: 768px) {
      .intersection--cosmic__ellipse {
        top: 30%; } }
    @media screen and (max-width: 600px) {
      .intersection--cosmic__ellipse {
        width: 250px;
        top: 25%;
        left: 22%; } }
    @media screen and (max-width: 360px) {
      .intersection--cosmic__ellipse {
        width: 180px;
        height: 25px;
        top: 31%;
        left: 18%; } }
    @media screen and (min-width: 2000px) {
      .intersection--cosmic__ellipse {
        width: 600px;
        height: 55px;
        top: 42%; } }
    @media screen and (min-width: 2800px) {
      .intersection--cosmic__ellipse {
        width: 1200px;
        height: 95px;
        top: 42%;
        left: 30%; } }
    @media screen and (min-width: 3500px) {
      .intersection--cosmic__ellipse {
        width: 1400px;
        height: 110px;
        left: 35%;
        top: 41%; } }
  .intersection--cosmic__star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 15px 40px white, 1px -15px 40px white, 40px 10px 40px white, -40px 10px 40px white; }
    @media screen and (max-width: 360px) {
      .intersection--cosmic__star {
        width: 35px;
        height: 35px; } }
    @media screen and (min-width: 2000px) {
      .intersection--cosmic__star {
        width: 80px;
        height: 80px; } }
    @media screen and (min-width: 2800px) {
      .intersection--cosmic__star {
        width: 120px;
        height: 120px; } }
    @media screen and (min-width: 3500px) {
      .intersection--cosmic__star {
        width: 140px;
        height: 140px; } }

.promoposter {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 1000px) {
    .promoposter {
      flex-direction: column; } }
  @media screen and (min-width: 2800px) {
    .promoposter {
      justify-content: center; } }
  @media screen and (min-width: 3500px) {
    .promoposter {
      gap: 10rem; } }
  .promoposter__side {
    flex: 1; }
    @media screen and (min-width: 3500px) {
      .promoposter__side {
        flex: 0.3; } }
  .promoposter__catch {
    width: 50%;
    margin: 0 auto 2rem;
    font-size: 2.8rem;
    line-height: 3.5rem; }
    @media screen and (max-width: 1000px) {
      .promoposter__catch {
        width: 100%; } }
    @media screen and (min-width: 1280px) {
      .promoposter__catch {
        margin: 0 auto; } }
  .promoposter__heading {
    display: none; }
    @media screen and (min-width: 1280px) {
      .promoposter__heading {
        display: block;
        font-size: 4.5rem;
        text-transform: uppercase;
        transform: rotate(-10deg);
        padding: 8rem 0;
        text-shadow: 0 0.5rem 1.5rem #bae8e8; } }
  .promoposter__body {
    width: 50%;
    margin: 0 auto;
    color: #bae8e8; }
    @media screen and (max-width: 1000px) {
      .promoposter__body {
        width: 100%; } }
    .promoposter__body p {
      margin-bottom: 2rem; }
  .promoposter__alert {
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: pulsate;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; }
  .promoposter .btn {
    margin: 2rem 0; }
  .promoposter__img {
    max-width: 40rem;
    border-radius: 2rem; }
    @media screen and (max-width: 1000px) {
      .promoposter__img {
        margin-top: 3rem; } }

.flightsearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3f6f5;
  max-width: 80vw;
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  box-shadow: 0 0 4.5rem #00FFFF;
  z-index: 1; }
  @media screen and (max-width: 1000px) {
    .flightsearch {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 1rem; } }
  @media screen and (max-width: 768px) {
    .flightsearch {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 600px) {
    .flightsearch {
      grid-template-columns: 1fr; } }
  .flightsearch__grouping {
    flex: 1;
    position: relative;
    max-width: 30rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 600px) {
      .flightsearch__grouping {
        max-width: none; } }
  .flightsearch__icon {
    height: 3rem;
    width: 3rem; }
    .flightsearch__icon--reversal {
      position: absolute;
      left: 50%;
      padding: 5px;
      z-index: 1;
      border-radius: 50%;
      border: 1px solid #272643;
      background-color: #F5F5F5;
      transform: translateX(-50%); }
      .flightsearch__icon--reversal path {
        fill: #2c698d; }
      .flightsearch__icon--reversal:hover {
        cursor: pointer; }
  .flightsearch .selector {
    flex: 1;
    min-width: 10rem;
    max-width: 15rem;
    height: 6rem;
    border: 1px solid #121212; }
    @media screen and (max-width: 1000px) {
      .flightsearch .selector {
        max-width: none; } }

.flight-preview {
  height: 100%;
  position: relative; }
  .flight-preview__header {
    height: 10%;
    text-align: left; }
  .flight-preview__body {
    height: 90%;
    position: relative;
    border: 1px dashed black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .flight-preview__badge {
    width: 100%;
    max-width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(0.1);
    z-index: 0; }
  .flight-preview__routing {
    position: relative;
    font-family: poppins-extrabold;
    font-size: 7.5rem;
    line-height: 7.5rem;
    z-index: 1; }
    .flight-preview__routing--detail {
      font-family: poppins-regular; }
    .flight-preview__routing-container .container--between p:first-child {
      padding-left: 3px; }
    .flight-preview__routing-container .container--between p:last-child {
      padding-right: 3px; }
  .flight-preview__date {
    text-align: left; }
    .flight-preview__date-container {
      align-self: flex-start;
      padding: 0 3rem; }
    .flight-preview__date span {
      font-family: poppins-bold;
      text-transform: uppercase; }
  .flight-preview__payload {
    text-align: left; }
    .flight-preview__payload-container {
      align-self: flex-start;
      padding: 0 3rem; }
    .flight-preview__payload span:first-child {
      font-family: poppins-bold;
      text-transform: uppercase; }
  .flight-preview__motto {
    font-style: italic;
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    filter: opacity(0.3);
    z-index: 0; }

.infopiece__icon {
  width: 35%; }

.infopiece__content {
  margin-top: 3rem; }

.infopiece__text:not(.infopiece__text:last-child) {
  margin-bottom: 1.5rem; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .loader__spinner {
    width: 100%;
    max-width: 10rem; }

.selector--disabled .react-datepicker-wrapper {
  pointer-events: none; }

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%; }

.react-datepicker__input-container input {
  background-color: #e3f6f5;
  color: #272643;
  font-family: 'titillium-bold';
  font-size: 1.6rem;
  text-transform: uppercase; }

.react-datepicker-popper {
  top: 1rem; }
  .react-datepicker-popper .react-datepicker__triangle path:nth-child(2) {
    fill: #272643;
    stroke: #272643; }

.react-datepicker {
  font-family: 'titillium-bold';
  font-size: 1.6rem;
  color: red;
  background-color: #e3f6f5;
  border: 1px solid #2c698d;
  border-radius: 4px;
  animation-name: fadein;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: both; }

.react-datepicker__header {
  background-color: #bae8e8;
  border-bottom: 1px solid #2c698d; }

.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-color: #272643;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 1rem;
  position: absolute;
  top: 1.5rem;
  width: 1rem; }

.react-datepicker__current-month {
  font-family: 'titillium-bold';
  font-size: 1.8rem;
  color: #272643;
  text-transform: uppercase; }

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  display: inline-block;
  text-align: center;
  width: 6rem;
  line-height: 4rem;
  margin: 0.166rem; }

.react-datepicker__day-name {
  color: #272643; }

.react-datepicker__day, .react-datepicker__time-name {
  font-family: 'titillium-regular';
  color: #2c698d; }

.react-datepicker__day--selected {
  background-color: #4B0082 !important; }

.react-datepicker__day--keyboard-selected {
  background-color: transparent; }

.react-datepicker__day--disabled {
  filter: opacity(0.3);
  cursor: not-allowed; }

.react-datepicker__navigation--previous--disabled .react-datepicker__navigation-icon--previous::before,
.react-datepicker__navigation--next--disabled .react-datepicker__navigation-icon--next::before {
  display: none; }

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #2c698d;
  color: #e3f6f5; }

.react-datepicker__day:not([aria-disabled=true]):hover {
  background-color: #32CD32; }

.header {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  transition: all 1s;
  z-index: 100; }
  .header[data-transparency="true"] {
    animation-name: header-fadeout;
    animation-timing-function: linear;
    animation-duration: .75s;
    animation-fill-mode: forwards; }
    .header[data-transparency="true"] .header__main .navlink {
      color: #F5F5F5; }
      .header[data-transparency="true"] .header__main .navlink--primary {
        color: #272643; }
      .header[data-transparency="true"] .header__main .navlink:hover {
        text-shadow: 0 0.5rem 1.5rem #ffffff; }
    .header[data-transparency="true"] .header__main .header__icon svg path {
      stroke: #F5F5F5;
      stroke-width: 1; }
  .header[data-transparency="false"] {
    animation-name: header-fadein;
    animation-timing-function: linear;
    animation-duration: .75s;
    animation-fill-mode: forwards; }
    .header[data-transparency="false"] .header__main .navlink {
      color: #272643; }
      .header[data-transparency="false"] .header__main .navlink:not(.navlink--primary):hover {
        text-shadow: 0 0.5rem 1.5rem #121212; }
    .header[data-transparency="false"] .header__main .header__icon svg path {
      stroke: #272643;
      stroke-width: 1.5; }
    .header[data-transparency="false"] .header__main .header__icon:first-child svg path {
      stroke: #272643;
      stroke-width: 2.5; }
  .header__icon {
    width: 5rem;
    height: 5rem; }
    @media screen and (min-width: 1280px) {
      .header__icon {
        display: none; } }
  .header__main {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__main .navbar {
      display: none; }
    @media screen and (min-width: 1280px) {
      .header__main {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .header__main .navbar {
          display: flex;
          flex: 1;
          justify-content: center; }
          .header__main .navbar__list {
            gap: 3rem; }
        .header__main .navlink {
          text-transform: uppercase; }
          .header__main .navlink:hover {
            transform: scale(1.1); } }
    @media screen and (min-width: 2000px) {
      .header__main {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header__main .navbar {
          flex: initial; }
        .header__main .link--container {
          margin: 0 3vw; } }
  .header__logo {
    max-width: 25rem; }
  .header__expand {
    display: none; }
    @media screen and (min-width: 1280px) {
      .header__expand {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: flex-start;
        transition: max-height 1.5s;
        overflow: hidden; }
        .header__expand[data-expansion="true"] {
          max-height: 20rem; }
        .header__expand[data-expansion="false"] {
          max-height: 0; }
        .header__expand .navmenu {
          color: #272643;
          padding: 2rem; }
          .header__expand .navmenu__column {
            gap: 10rem; }
        .header__expand .navlink {
          color: #272643; } }
    @media screen and (min-width: 2000px) {
      .header__expand {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        gap: 9vw; } }

@keyframes header-fadeout {
  from {
    background-color: #ffffff;
    box-shadow: 0 2.5px 100px 5px #4B0082; }
  to {
    background-color: transparent;
    box-shadow: none; } }

@keyframes header-fadein {
  from {
    background-color: transparent;
    box-shadow: none; }
  to {
    background-color: #ffffff;
    box-shadow: 0 2.5px 100px 5px #4B0082; } }

.footer {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 3rem 2rem;
  box-shadow: 0 -2.5px 100px 5px #4B0082; }
  .footer__section--top {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer__section--top .badge__container,
    .footer__section--top .navmenu {
      flex: 1; }
    @media screen and (max-width: 768px) {
      .footer__section--top {
        justify-content: space-evenly; }
        .footer__section--top .badge__container {
          display: none; }
        .footer__section--top .navmenu {
          flex: initial; }
        .footer__section--top .navmenu__title {
          display: none; }
        .footer__section--top .navmenu__column {
          margin-left: 0; } }
    @media screen and (max-width: 600px) {
      .footer__section--top .navbar {
        font-family: 'bai-bold'; } }
    @media screen and (min-width: 2000px) {
      .footer__section--top {
        max-width: 1260px;
        margin: 0 auto; } }
    .footer__section--top .badge__img {
      max-width: 25rem; }
  .footer__section--bottom {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .footer__section--bottom {
        flex-direction: column; } }
    .footer__section--bottom .navbar {
      margin: 2rem 0; }
      @media screen and (max-width: 600px) {
        .footer__section--bottom .navbar {
          font-family: 'bai-bold'; } }
      .footer__section--bottom .navbar__list {
        gap: 0; }
        @media screen and (max-width: 600px) {
          .footer__section--bottom .navbar__list {
            flex-direction: column; } }
    .footer__section--bottom .navlink:not(.navlink:last-child)::after {
      content: "|";
      margin: 0 .5rem; }
      @media screen and (max-width: 600px) {
        .footer__section--bottom .navlink:not(.navlink:last-child)::after {
          content: ""; } }
  .footer .navmenu {
    color: #272643; }
    .footer .navmenu__column {
      gap: 10rem; }
  .footer .navlink {
    color: #272643; }
  .footer .copyright {
    color: #272643;
    font-family: 'bai-medium'; }
    @media screen and (max-width: 768px) {
      .footer .copyright {
        text-transform: uppercase; } }
    @media screen and (max-width: 600px) {
      .footer .copyright {
        font-family: 'bai-bold'; } }
    .footer .copyright::after {
      content: "|";
      margin: 0 .5rem; }
      @media screen and (max-width: 768px) {
        .footer .copyright::after {
          content: '';
          display: inline-block;
          width: 8rem;
          height: 8rem;
          background-image: url("./logos/ctsw-logo_dark_badge.png");
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: middle; } }

.scrollblocker {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.75s; }
  .scrollblocker--on {
    background-color: rgba(18, 18, 18, 0.8);
    z-index: 1000; }
  .scrollblocker-off {
    background-color: transparent;
    z-index: 1; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120vh); }
  .modal--small-width {
    width: 100%; }
  .modal--small-height {
    height: 100%; }
  .modal--appearing {
    animation-name: appear-bottom;
    animation-timing-function: ease-out;
    animation-duration: 0.75s;
    animation-fill-mode: forwards; }
  .modal--disappearing {
    animation-name: disappear-bottom;
    animation-timing-function: ease-in;
    animation-duration: 0.75s;
    animation-fill-mode: forwards; }
  .modal__content {
    overflow: auto;
    scrollbar-color: #272643 transparent;
    scrollbar-gutter: stable both-edges;
    padding: 3rem;
    border-radius: 1rem; }
    .modal__content--default {
      background-color: #4B0082;
      border: 2px solid #FF4500;
      color: #e3f6f5; }
    .modal__content--flight-preview {
      background-color: #ffffff;
      border: none;
      color: #121212; }
    .modal__content--small-width {
      width: 100%; }
    .modal__content--regular-width {
      width: 40rem; }
    .modal__content--medium-width {
      width: 60rem; }
    .modal__content--large-width {
      width: 80rem; }
    .modal__content--small-height {
      height: 100%; }
    .modal__content--regular-height {
      height: 40rem; }
    .modal__content--large-height {
      height: 60rem; }
    .modal__content::-webkit-scrollbar-track {
      color: red; }
    .modal__content--shine-in {
      animation-name: shine-in;
      animation-delay: 0.75s;
      animation-timing-function: linear;
      animation-duration: 0.75s;
      animation-fill-mode: forwards; }
    .modal__content--shine-out {
      animation-name: shine-out;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-fill-mode: forwards; }
    .modal__content .infopiece__text {
      font-family: poppins-regular; }

.homepage {
  position: relative;
  z-index: 2; }
  .homepage__offers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem; }
    @media screen and (max-width: 1000px) {
      .homepage__offers-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        gap: 0;
        row-gap: 5rem; } }
    @media screen and (max-width: 768px) {
      .homepage__offers-list {
        grid-template-columns: 1fr; } }
    .homepage__offers-list .card {
      width: 100%; }
  .homepage .flightsearch {
    opacity: 0;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: fadein;
    animation-timing-function: 'linear';
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
