@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeout {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes pulsate {
    0% { transform: scale(.9) }
    25% { transform: scale(1) }
    50% { transform: scale(1.1) }
    75% { transform: scale(1) }
    100% { transform: scale(.9) }
}

@keyframes shine-in {
    0% { box-shadow: 0 0 2rem $color-highlight-extreme }
    50% { box-shadow: 0 0 7.5rem $color-highlight-extreme }
    100% { box-shadow: 0 0 4rem $color-highlight-extreme }
}

@keyframes shine-out {
    0% { box-shadow: 0 0 3rem $color-highlight-extreme }
    100% { box-shadow: none }
}

@keyframes shining-pulse-green {
    0% { transform: scale(.97); box-shadow: 0 0 .5rem $color-highlight-accent }
    25% { transform: scale(1); box-shadow: 0 0 1.5rem $color-highlight-accent }
    50% { transform: scale(1.03); box-shadow: 0 0 4rem $color-highlight-accent }
    75% { transform: scale(1); box-shadow: 0 0 1.5rem $color-highlight-accent }
    100% { transform: scale(.97); box-shadow: 0 0 .5rem $color-highlight-accent }
}

@keyframes appear-bottom {
    0% { transform: translate(-50%, 120vh) }
    75% { transform: translate(-50%, -60%) }
    100% { transform: translate(-50%, -50%) }
}

@keyframes disappear-bottom {
    0% { transform: translate(-50%, -50%) }
    25% { transform: translate(-50%, -60%) }
    100% { transform: translate(-50%, 120vh) }
}

@keyframes dot-progress {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
 }