/* GENERAL RESET */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

/* HTML */
html {
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(big-screen) {
        font-size: 87.5%;
    }
}

/* BODY */
body {
    box-sizing: border-box;
    background: $color-environmental-pitch;
    color: $color-text-light;
    font-size: $size-medium;
}

/* MAIN CONTENT */
main {
    section {
        padding: 8rem 5rem;

        &:nth-child(odd):not(:first-child) {
            background-color: $color-body-deep;
        }
    }
}

/* OTHER MINOR ELEMENTS */
a {
	text-decoration: none;
}
button {
    background-color: transparent;
}

ul, ol {
    list-style: none;
}

li, dd, blockquote {  
    margin-left: 0;  
}

img {
    width: 100%;
}