// ROBOTO
@font-face {
    font-family: roboto-extralight;
    src: url('./assets/fonts/roboto/Roboto-ExtraLight.ttf');
}
@font-face {
    font-family: roboto-light;
    src: url('./assets/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-medium;
    src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: roboto-semibold;
    src: url('./assets/fonts/roboto/Roboto-SemiBold.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: roboto-extrabold;
    src: url('./assets/fonts/roboto/Roboto-ExtraBold.ttf');
}

// TITILLIUM-WEB
@font-face {
    font-family: titillium-extralight;
    src: url('./assets/fonts/titillium/TitilliumWeb-ExtraLight.ttf');
}
@font-face {
    font-family: titillium-light;
    src: url('./assets/fonts/titillium/TitilliumWeb-Light.ttf');
}
@font-face {
    font-family: titillium-regular;
    src: url('./assets/fonts/titillium/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: titillium-semibold;
    src: url('./assets/fonts/titillium/TitilliumWeb-SemiBold.ttf');
}
@font-face {
    font-family: titillium-bold;
    src: url('./assets/fonts/titillium/TitilliumWeb-Bold.ttf');
}

// BAI-JAMJUREE
@font-face {
    font-family: bai-extralight;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-ExtraLight.ttf');
}
@font-face {
    font-family: bai-light;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-Light.ttf');
}
@font-face {
    font-family: bai-regular;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf');
}
@font-face {
    font-family: bai-medium;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-Medium.ttf');
}
@font-face {
    font-family: bai-semibold;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf');
}
@font-face {
    font-family: bai-bold;
    src: url('./assets/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf');
}

// MICHROMA
@font-face {
    font-family: michroma;
    src: url('./assets/fonts/michroma/Michroma-Regular.ttf');
}

// POPPINS
@font-face {
    font-family: poppins-regular;
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: poppins-extrabold;
    src: url('./assets/fonts/poppins/Poppins-ExtraBold.ttf');
}

body {
    font-family: 'roboto-light';
    font-size: $size-medium;
    color: $color-text-light;
    letter-spacing: 2px;
    line-height: 2.25rem;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'michroma';
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: $size-gigantic;
}

h3 {
    font-size: $size-extrabig;
}