.link:hover,
.link--container,
.element--clickable {
    cursor: pointer;
}

.link--container {
    @include flex-row(center);
}

.container--between {
    @include flex-row(space-between);
}

.scrollblock {
    overflow: hidden;
}

.separator {
    width: 90%;
    margin: 0 auto;

    &--dark {
        border-bottom: 1px dashed #272643;
    }
}

.message-box {
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem 2rem;

    &--alert {
        background-color: $color-highlight-extreme;
        color: $color-text-light;
    }

    .highlight {
        text-transform: uppercase;
    }
}