/* --- COLOR VARIABLES --- */

$color-environmental-light: #ffffff; // Full White
$color-environmental-deep: #0B3D91; // (Deep Space Blue)
$color-environmental-pitch: #121212; // Almost Black
$color-environmental-accent: #4B0082; // Nebula Purple

$color-text-light: #F5F5F5; // Starlight White
$color-text-dark: #272643;

$color-highlight-light: #00FFFF; // Galactic Cyan
$color-highlight-extreme: #FF4500; // Meteor Orange
$color-highlight-accent: #32CD32; // Aurora Green

$color-body-light: #e3f6f5;
$color-body-shallow: #bae8e8;
$color-body-deep: #2c698d;

/* --- COLOR GRADIENTS --- */

$gradient-linear-deep-space: "";
$gradient-linear-aurora-glow: "";
$gradient-linear-nebula-sunset: "";

/* --- SIZES --- */