.destinations {
    position: relative;
    z-index: 2;
    padding: 10rem 0;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(18, 18, 18, 0.55)), 
        url('./../assets/images/starscape_wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        gap: 10rem;

        @include respond(tablet-landscape) {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            row-gap: 5rem;
        }

        @include respond(tablet-portrait) {
            grid-template-columns: 1fr;
        }

        a, .card {
            width: 100%
        }

        a {
            display: flex;
            justify-content: center;
        }
    }
}