.tickets {
    position: relative;
    z-index: 2;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(18, 18, 18, 0.55)), 
        url('./../assets/images/starscape_wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .content-section:first-child {
        padding-top: 27rem;
    }

    .btn--primary {
        width: 40rem;
        position: relative;
        bottom: 3rem;

        @include respond(phone-small) {
            width: 30rem;
        }
    }
}