.avatar {
    width: fit-content;
    border: 5px solid $color-text-dark;
    border-radius: 50%;

    &__img-wrapper {
        border-radius: inherit;
        background-image: url('/assets/images/characters/profiles/profile-default.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 13.5rem;
        height: 13.5rem;

        &--green_little_man {
            background-image: url('/assets/images/characters/profiles/profile-green.webp');
        }

        &--big_headed_gray {
            background-image: url('/assets/images/characters/profiles/profile-gray.webp');
        }

        &--reptilian {
            background-image: url('/assets/images/characters/profiles/profile-reptilian.webp');
        }

        &--cephalopodian {
            background-image: url('/assets/images/characters/profiles/profile-cephalopodian.webp');
        }

        &--insectoid {
            background-image: url('/assets/images/characters/profiles/profile-insectoid.webp');
        }

        &--polymorphic {
            background-image: url('/assets/images/characters/profiles/profile-polymorphic.webp');
        }

        &--leonian {
            background-image: url('/assets/images/characters/profiles/profile-leonian.webp');
        }

        &--amoebian {
            background-image: url('/assets/images/characters/profiles/profile-amoebian.webp');
        }

        &--aetherian {
            background-image: url('/assets/images/characters/profiles/profile-aetherian.webp');
        }

        &--organic-male, &--humanoid {
            background-image: url('/assets/images/characters/profiles/profile-organic-male.webp');
        }

        &--organic-female, &--organic-other {
            background-image: url('/assets/images/characters/profiles/profile-organic-female.webp');
        }

        &--cyborg-male {
            background-image: url('/assets/images/characters/profiles/profile-cyborg-male.webp');
        }

        &--cyborg-female, &--cyborg-other {
            background-image: url('/assets/images/characters/profiles/profile-cyborg-female.webp');
        }

        &--android-male, &--android-other {
            background-image: url('/assets/images/characters/profiles/profile-android-male.webp');
        }

        &--android-female {
            background-image: url('/assets/images/characters/profiles/profile-android-female.webp');
        }
    }
}