.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    // BANNER SIZE
    &--full {
      height: 100vh;

      .banner__heading {
        font-size: 4.5rem;

        @include respond(tablet-portrait) {
          font-size: 3rem;
        }
      }
    }

    &--half {
      height: 60vh;
      background-position: center;

      .banner__heading {
        font-size: 3rem;
      }
    }

    // BANNER CHOICE
    &--1 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/space-beer_banner.webp');
    }

    &--2 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/space-sunrise_banner.webp');
    }

    &--3 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/earth-moon_banner.webp');
    }

    // BANNER TEXT
    &__msg {
      width: 90%;
      @include absolute-center;
      top: 55%;

      @include respond(tablet-landscape) {
        top: initial;
        bottom: 3rem;
      }
      @include respond(phone) {
        display: none;
      }


      &--left {
        text-align: left;
      }

      &--center {
        text-align: center;
      }

      &--right {
        text-align: right;
      }
    }

    &__heading {
      line-height: 5rem;
    }
}