.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    // BANNER SIZE
    &--full {
      height: 95vh;

      .banner__heading {
        font-size: 4.5rem;
      }
    }

    &--half {
      height: 60vh;
      background-position: center;

      .banner__heading {
        font-size: 3rem;
      }
    }

    // BANNER CHOICE
    &--1 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/space-beer_banner.webp');
    }

    &--2 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/space-sunrise_banner.webp');
    }

    &--3 {
      background-image: linear-gradient(to right, rgba(11, 61, 145, 0.3),
      rgba(18, 18, 18, 0.55)), url('./assets/images/earth-moon_banner.webp');
    }

    // BANNER TEXT
    &__msg {
      width: 90%;
      @include absolute-center;
      top: 55%;
      font-family: 'michroma';
      color: $color-text-light;

      &--left {
        text-align: left;
      }

      &--right {
        text-align: right;
      }
    }

    &__heading {
      line-height: 5rem;
    }
}