.panel {
    display: grid;
    gap: 2rem;
    padding: 5rem 8rem;
    height: 100%;

    .content-section {
        padding: 0;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }

        & > div {
            height: 100%;
        }
    }

    &--profile {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "usr inv inv inv inv"
            "usr sks sks sks set"
            "sts flt flt flt set"
            "sts qst qst qst set"
            "sts nts nts nts set"
        ;

        .content-section:nth-child(1) {
            grid-area: usr;
        }

        .content-section:nth-child(2) {
            grid-area: inv;
        }

        .content-section:nth-child(3) {
            grid-area: sts;
        }

        .content-section:nth-child(4) {
            grid-area: sks;
        }

        .content-section:nth-child(5) {
            grid-area: flt;
        }

        .content-section:nth-child(6) {
            grid-area: qst;
        }

        .content-section:nth-child(7) {
            grid-area: nts;
        }

        .content-section:nth-child(8) {
            grid-area: set;
        }
    }

    &__piece {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &--horizontal {
            @include flex-row(center);
            gap: 3rem;
        }

        .piece {
            &__title {
                justify-self: flex-start;
                text-transform: uppercase;
                font-weight: 900;
            }

            &__dataWrapper {
                @include flex-column(center);

                &:not(.piece__dataWrapper:last-child) {
                    margin-bottom: 1rem;
                }

                &--left {
                    align-items: flex-start;
                }
            }

            &__dataIdentifier {
                text-transform: uppercase;
                font-weight: 900;
            }

            &__dataItem {
                width: 100%;

                &--piped:not(.piece__dataItem:last-child)::after {
                    content: "|";
                    margin: 0 1rem;
                }

                &--bar {
                    height: 1rem;
                    border: 1px solid $color-text-dark;
                    border-radius: 5px;
                }
            }

            &__dataProgress {
                height: 100%;
                border-radius: inherit;
                background-color: $color-highlight-accent;
                transition: width 3s
            }
        }

        .avatar__text {
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}