.diptych {
    gap: 5rem;

    &--vertical {
        @include flex-column(center)
    }

    &--horizontal {
        @include flex-row(center)
    }

    &__media {
        flex: 1;
        max-width: 40rem;
        
        img {
            max-height: 50rem;
        }
    }

    &__content {
        flex: 1;
        align-self: flex-start;
        @include flex-column(flex-start);
        gap: 1.5rem;
        align-items: flex-start;
        text-align: left;
    }

    &__heading {
        line-height: 5rem;
    }

    &__subheading {
        font-size: $size-regular;
        margin: 0;
    }

    &__paragraph {
        font-size: $size-small;

        .highlight {
            font-family: 'roboto-bold';
            text-transform: uppercase;
        }
    }

    &__section, &__iconset {
        @include flex-row(flex-start);
        gap: 2rem;

        svg {
            width: 3.5rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}