.flightsearch {
    @include flex-row(space-between);

    background-color: $color-body-light;
    max-width: 80vw;
    border-radius: 1.5rem;
    padding: 1.5rem 3rem;
    box-shadow: 0 0 4.5rem $color-highlight-light;
    z-index: 1;

    .selector {
        flex: 1;
        min-width: 10rem;
        max-width: 15rem;
        height: 6rem;
        border: 1px solid $color-environmental-pitch;
    }
}