.flight-preview {
    height: 100%;
    position: relative;

    &__header {
        height: 10%;
        text-align: left;
    }

    &__body {
        height: 90%;
        position: relative;
        border: 1px dashed black;
        border-radius: 8px;
        padding: 0 2rem;
        @include flex-column(space-evenly);

        .flight-preview__title {
            font-size: 2.75rem;
            line-height: 4rem;
        }
    }

    &__badge {
        width: 100%;
        max-width: 30rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: opacity(0.1);
        z-index: 0;
    }

    &__routing {
        position: relative;
        font-family: poppins-extrabold;
        font-size: 7.5rem;
        line-height: 7.5rem;
        z-index: 1;
        @include respond(phone) {
            font-size: 5.5rem;
        }
        
        &--detail {
            font-family: poppins-regular;
        }

        &-container {
            .container--between p:first-child {
                padding-left: 3px;
            }
            .container--between p:last-child {
                padding-right: 3px;
            }
        }
    }

    &__date {
        text-align: left;
        @include respond(phone) {
            text-align: center;
        }

        &-container {
            align-self: flex-start;
            padding: 0 3rem;
            @include respond(phone) {
                align-self: center;
            }
        }

        span {
            font-family: poppins-bold;
            text-transform: uppercase;
        }
    }

    &__payload {
        text-align: left;
        @include respond(phone) {
            text-align: center;
        }

        &-container {
            align-self: flex-start;
            padding: 0 3rem;
            @include respond(phone) {
                align-self: center;
            }
        }

        span:first-child {
            font-family: poppins-bold;
            text-transform: uppercase;
        }
    }

    &__motto {
        font-style: italic;
        position: absolute;
        bottom: .5rem;
        right: 1rem;
        filter: opacity(0.3);
        z-index: 0;
    }
}