.infopanel {
    @include flex-row(flex-start);
    gap: 1rem;
    color: $color-text-dark;
    background-color: $color-body-light;
    max-width: 90vw;
    margin: 0 auto;
    border-radius: 1.5rem;
    padding: 3rem;
    box-shadow: 0 0 4.5rem $color-highlight-light;
    @include respond(huge-screen) {
        max-width: 75vw;
    }

    &--alert {
        background-color: $color-body-alert;
        box-shadow: 0 0 4.5rem $color-highlight-warning;
    }

    &--error {
        background-color: $color-body-error;
        box-shadow: 0 0 4.5rem $color-highlight-extreme;
    }

    &--success {
        background-color: $color-body-success;
        box-shadow: 0 0 4.5rem $color-highlight-accent;
    }

    &__icon {
        font-size: 3.5rem;
    }
}