.modalpiece {
    fill: $color-text-light;
    
    &__icon, .badge__img {
        width: 35%;
    }

    &__content {
        margin-top: 3rem;
        @include flex-column(space-between)
    }

    &__routing {
        height: 100%;
        @include flex-column(center);
        @include respond(phone) {
            justify-content: flex-start;
        }
        margin-top: 0;
    }

    &__text {
        font-size: 1.2rem;

        &:not(.modalpiece__text:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__list {
        margin-top: 2rem;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }

    &__bulletpoint {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        .bulletpoint__header {
            font-family: 'roboto-medium';
        }
    }

    .form {
        width: 100%;

        &__element {
            .field {
                color: $color-environmental-light;
                border: 1px solid $color-environmental-light;
    
                &__value {
                    color: $color-environmental-light;
                }
            }
        }
    }

    .btn {
        margin: 2rem 0;

        &--link {
            font-family: 'poppins-regular';
            color: $color-environmental-light;
            text-decoration: underline;
        }
    }

    .btn-wrapper {
        @include flex-row(center);
        width: 100%;
        gap: 2rem;

        &--actionable:hover {
            cursor: pointer;

            .btn--link {
                @include animation-standard(pulsate);
                animation-iteration-count: infinite;
                animation-duration: 2s;
                color: $color-highlight-accent;
                font-family: 'poppins-bold';
                text-decoration: none;
                &::after {
                    content: "\2192";
                    margin-left: .5rem;
                }
            }
        }
    }

    .infopanel {
        padding: 1.5rem;
        font-size: $size-small;

        &__icon {
            font-size: 3rem;
        }
    }
}