.navbar {
    @include flex-row(space-between);
    font-family: 'bai-medium';

    &__list {
        @include flex-row(space-between);
        gap: 1rem;

        &--horizontal {
            flex-direction: row;
        }

        &--vertical {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}