.navlink {
    position: relative;
    transition: transform .5s;

    &:hover {
        cursor: pointer;
        font-family: 'bai-bold';
    }

    &--primary {
        @include primary-appearance;

        &:hover {
            @include primary-response;
        }
    }

    &--underline {
        .navlink__text {
            text-underline-offset: .5rem;

            &:hover {
                text-decoration: underline;
                display: inline-block;
                transform: translateX(.5rem);
            }
        }
    }

    &__infospan {
        position: absolute;
        width: 100%;
        font-size: 1rem;
        color: $color-environmental-accent;
        margin-left: 1rem;
        text-transform: initial;
        vertical-align: text-top;

        &:after {
            content: 'Available soon!';

            @include respond(phone-small) {
                content: 'Soon!';
            }
        }
    }
}