.navlink {
    transition: transform .5s;

    &:hover {
        cursor: pointer;
        font-family: 'bai-bold';
    }

    &--primary {
        @include primary-appearance;

        &:hover {
            @include primary-response;
        }
    }

    &--underline {
        text-underline-offset: .5rem;

        &:hover {
            text-decoration: underline;
            transform: translateX(.5rem);
        }
    }
}