.navbar {
    @include flex-row(space-between);
    font-family: 'bai-medium';

    &__list {
        color: black;
        @include flex-row(space-between);
        gap: 3rem;

        &--horizontal {
            flex-direction: row;
        }

        &--vertical {
            flex-direction: column;
        }
    }
}