.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        color: yellow;
        @include flex-row(space-between);

        &--horizontal {
            flex-direction: row;
        }

        &--vertical {
            flex-direction: column;
        }
    }
}