.promoposter {
    @include flex-row(space-around);
    @include respond(tablet-landscape) {
        flex-direction: column;
    }
    @include respond(huge-screen) {
        justify-content: center;
    }
    @include respond(giant-screen) {
        gap: 10rem;
    }

    &__side {
        flex: 1;

        @include respond(giant-screen) {
            flex: 0.3;
        }
    }

    &__catch {
        width: 50%;
        margin: 0 auto 2rem;
        font-size: $size-gigantic;
        line-height: 3.5rem;

        @include respond(tablet-landscape) {
            width: 100%;
        }
        @include respond(desktop) {
            margin: 0 auto;
        }
    }

    &__heading {
        display: none;

        @include respond(desktop) {
            display: block;
            font-size: 4.5rem;
            text-transform: uppercase;
            transform: rotate(-10deg);
            padding: 8rem 0;
            @include text-shadow($color-body-shallow);
        }
    }

    &__body {
        width: 50%;
        margin: 0 auto;
        color: $color-body-shallow;
        @include respond(tablet-landscape) {
            width: 100%;
        }
        
        p {
            margin-bottom: 2rem;
        }
    }

    &__alert {
        font-size: $size-extrabig;
        text-transform: uppercase;
        animation-name: pulsate;
        animation-timing-function: linear;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    .btn {
        margin: 2rem 0;
    }
    
    &__img {
        max-width: 40rem;
        border-radius: 2rem;
        @include respond(tablet-landscape) {
            margin-top: 3rem;
        }
    }
}