.searchtool {
    margin: 2rem;
    font-size: $size-regular;

    &__field {
        font-size: inherit;
        border-radius: 0.8rem !important;
        padding: 1.15rem !important;
        
        &--left {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    
        &--right {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }

    &__btn {
        padding: 1rem;

        &--left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}