.selector {
    @include flex-column(center);
    align-items: flex-start;
    position: relative;

    background-color: transparent;
    color: $color-body-deep;
    font-family: 'titillium-regular';
    line-height: 1.75rem;
    text-align: left;
    padding: 1rem;
    border: 1px solid $color-body-deep;
    border-radius: 4px;
    transition: filter 1s;

    // STATES

    &:hover {
        cursor: pointer;
    }

    &--disabled {
        filter: opacity(0.3) grayscale(1);

        &:hover {
            cursor: not-allowed;
        }
    }

    // SUB-ELEMENTS

    &__id {
        color: inherit;
        font-size: $size-smaller;
    }

    &__value {
        color: $color-text-dark;
        font-family: 'titillium-bold';
        text-transform: uppercase;

        &--smaller {
            font-size: $size-smaller;
        }

        &--small {
            font-size: $size-small;
        }

        &--medium {
            font-size: $size-medium;
        }

        &--regular {
            font-size: $size-regular;
        }
    }

    &__choice {
        @include flex-column(center);
        align-items: flex-start;
        width: 100%;
        z-index: 1;

        position: absolute;
        top: 6rem;
        left: 0;
        background-color: $color-body-light;
        padding: 1rem;
        border: 1px solid $color-body-deep;
        animation-name: fadein;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    &__option {
        display: inline-block;
        width: 100%;
        padding: .5rem;
        text-transform: capitalize;
        z-index: 1;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            background-color: $color-body-shallow;
        }
    }
}