.cart {
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;

        &--void {
            height: 100%;
            justify-content: center;
            position: relative;
            bottom: 3rem;
            padding: 2rem;
            gap: 3rem;

            .cart__img {
                svg {
                    width: 10rem;
                    height: 10rem;
                }

                p {
                    font-size: 4rem;
                }
            }
        }
    }
}