.tooltip {
    color: $color-text-dark;
    background-color: $color-body-light;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 4.5rem $color-highlight-light;
    max-width: 50rem;
    z-index: 1;

    &--ok {
        background-color: $color-body-light;
        box-shadow: 0 0 4.5rem $color-highlight-light;
    }

    &--ko {
        background-color: $color-body-error;
        box-shadow: 0 0 4.5rem $color-highlight-extreme;
    }

    &__title {
        font-family: "poppins-bold";
        font-size: 1.5rem;
    }
}