.aside {
    height: 100vh;
    font-family: 'bai-medium';
    color: $color-text-dark;
    background-color: $color-text-light;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    z-index: 1100;
    overflow: auto;
    box-shadow: 0 2.5px 100px 5px $color-environmental-accent;
    @include respond(phone) {
        max-width: initial;
        padding-bottom: 10rem;
    }

    section {
        padding: 0;
    }

    &--left {
        left: -150%;
        
        &--on {
            @include animation-standard(aside-left-in);
        }

        &--off {
            @include animation-standard(aside-left-out);
        }
    }

    &--right {
        right: -150%;

        &--on {
            @include animation-standard(aside-right-in);
        }

        &--off {
            @include animation-standard(aside-right-out);
        }
    }

    &__header {
        margin-bottom: 1rem;
        @include flex-row(flex-end);
        @include respond(phone) {
            position: sticky;
            right: 2rem;
            top: 2rem;
        }
    }

    &__closer {
        width: 3rem;
        height: 3rem;
        z-index: 1101;
        @include respond(phone) {
            width: 4rem;
            height: 4rem;
        }
    }

    &__body {
        color: $color-text-dark;

        .navbar {
            padding: 1rem 0;
            border-bottom: 1px solid rgba($color-environmental-accent, 0.3);
            @include respond(phone-small) {
                padding: 2rem 0;
            }
        }

        .navbar__list {
            width: 100%;
            gap: 0.7rem;
            @include respond(phone) {
                gap: 1rem;
            }
            @include respond(phone-small) {
                gap: 2rem;
            }
        }

        .navlink {
            width: 100%;
            text-align: left;
        }
    }

    &__main .navlink {
        text-transform: uppercase;
        font-size: 2rem;
        @include respond(phone) {
            font-size: 2.5rem;
        }
        @include respond(phone-small) {
            font-size: 3.2rem;
        }
    }

    &__lesser {
        .navbar__list {
            gap: 0;
            @include respond(phone) {
                gap: 1rem;
            }
            @include respond(phone-small) {
                gap: 1.5rem;
            } 
        }
        .navlink {
            @include respond(phone) {
                font-size: 1.75rem;
            }
            @include respond(phone-small) {
                font-size: 2rem;
            } 
        }
    }

    &__badge {
        width: 100%;
        max-width: 30rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: opacity(0.1);
        z-index: -1;
    }

    &__motto {
        font-style: italic;
        text-align: right;
        margin-top: 2rem;
        right: 3rem;
        filter: opacity(0.5);
        z-index: -1;
        @include respond(phone) {
            font-size: 1.75rem;
        }
    }
}

@keyframes aside-left-in {
    from { left: -150%; }
    to { left: 0; }
}
 
@keyframes aside-left-out {
    from { left: 0;}
    to { left: -150%; }
}

@keyframes aside-right-in {
    from { right: -150%; }
    to { right: 0; }
}
 
@keyframes aside-right-out {
    from { right: 0;}
    to { right: -150%; }
}