.content-section {
    padding: 5rem;

    &:first-child {
        padding-top: 8rem;
    }

    &:last-child {
        padding-bottom: 8rem;
    }

    &__body {
        position: relative;
        color: $color-text-dark;
        background-color: $color-body-light;
        max-width: 90vw;
        margin: 0 auto;
        border-radius: 1.5rem;
        padding: 3rem;
        box-shadow: 0 0 4.5rem $color-highlight-light;
        @include respond(huge-screen) {
            max-width: 75vw;
        }

        & > *:not(:last-child) {
            margin-bottom: 5rem;
        }

        .content-section__heading {
            font-family: 'roboto-extrabold';
            font-size: $size-huge;
            
            & + .content-section__paragraph {
                margin-bottom: 3rem;
            }
        }
    
        .content-section__paragraph {
            & + .content-section__paragraph {
                margin-bottom: 3rem;
            }

            &.text-bold {
                font-family: 'roboto-bold';
            }

            &.text-alert {
                color: $color-highlight-extreme;
                text-transform: uppercase;
            }
        }

        .content-section__list {
            width: 100%;
            text-align: left;
            padding-left: 5rem;
            margin: 0 auto;
            @include respond(desktop) {
                width: max-content;
            }

            &--numeric {
                list-style: decimal;
            }

            .list-title {
                font-family: 'roboto-extrabold';
                font-size: $size-big;
                font-style: italic;
                text-decoration: underline;
                text-underline-offset: .5rem;
                margin-bottom: 1rem;
            }

            .list-element {
                &:not(.list-element:last-child) {
                    margin-bottom: 2rem;
                }

                .btn {
                    position: relative;
                    left: 50%;
                    margin-top: 1rem;
                    transform: translateX(-50%);
                    min-width: 20rem;
                }

                &--horizontal {
                    @include flex-row(flex-start);
                    gap: 2rem;
                }
            }

            svg {
                width: 5rem;
            }
        }
    }

    &__tab {
        position: absolute;
        color: inherit;
        background-color: inherit;
        box-shadow: 0 .5rem 4.5rem $color-highlight-light;
        font-size: 1.8rem;
        padding: 1rem 3rem 3rem;
        border-radius: inherit;
        top: -4rem;
        z-index: -1;

        &--r10 {
            right: 10%;
        }
        
        &--r20 {
            right: 20%;
        }
    }
}