.footer {
    position: relative;
    z-index: 2;
    background-color: $color-environmental-light;
    padding: 3rem 2rem;
    box-shadow: 0 -2.5px 100px 5px $color-environmental-accent;

    &__section--top {
        @include flex-row(space-around);

        .badge__container,
        .navmenu {
            flex: 1;
        }

        @include respond(tablet-portrait) {
            .badge__container {
                display: none;
            }
        }

        .badge__img {
            max-width: 25rem;
        }
    }

    &__section--bottom {
        @include flex-row(center);
        @include respond(tablet-portrait) {
            flex-direction: column
        }

        .navbar {
            margin: 2rem 0;

            &__list {
                gap: 0;
            }
        }

        .navlink:not(.navlink:last-child)::after {
            content: "|";
            margin: 0 .5rem;
        }
    }

    .navmenu {
        color: $color-text-dark;

        &__column {
           gap: 10rem;
        }
     }

     .navlink {
        color: $color-text-dark;
     }

     .copyright {
        color: $color-text-dark;
        font-family: 'bai-medium';

        &::after {
            content: "|";
            margin: 0 .5rem;

            @include respond(tablet-portrait) {
                content: '';
                display: inline-block;
                width: 8rem;
                height: 8rem;
                background-image: url('./logos/ctsw-logo_dark_badge.png');
                background-size: contain;
                background-repeat: no-repeat;
                vertical-align: middle;
            }
        }
     }
}