.header {
   position: fixed;
   width: 100%;
   padding: 1rem 0;
   transition: all 1s;
   z-index: 100;
   
   &[data-transparency="true"] {
      animation-name: header-fadeout;
      animation-timing-function: linear;
      animation-duration: .75s;
      animation-fill-mode: forwards;
      
      .header__main {
         & .navlink {
            color: $color-text-light;
   
            &:hover {
               text-shadow: 0 .5rem 1.5rem $color-environmental-light;
            }
         }
      }
   }

   &[data-transparency="false"] {
      animation-name: header-fadein;
      animation-timing-function: linear;
      animation-duration: .75s;
      animation-fill-mode: forwards;

      .header__main {
         & .navlink {
            color: $color-text-dark;
   
            &:hover {
               text-shadow: 0 .5rem 1.5rem $color-environmental-pitch;
            }
         }
      }
   }
   
   &__main {
      @include flex-row(space-evenly);

      .navbar {
         flex: 1;
         justify-content: center;

         &__list {
            gap: 3rem;
         }
      }

      .navlink {
         text-transform: uppercase;

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   &__logo {
      max-width: 25rem;
   }

   &__expand {
      @include flex-row(space-around);
      align-items: flex-start;
      transition: max-height 1.5s;
      overflow: hidden;

      &[data-expansion="true"] {
         max-height: 20rem;
      }

      &[data-expansion="false"] {
         max-height: 0;
      }

      .navmenu {
         color: $color-text-dark;
         padding: 2rem;

         &__column {
            gap: 10rem;
         }
      }

      .navlink {
         color: $color-text-dark;
      }
   }
}

@keyframes header-fadeout {
   from { background-color: $color-environmental-light; box-shadow: 0 2.5px 100px 5px $color-environmental-accent; }
   to { background-color: transparent; box-shadow: none;}
}

@keyframes header-fadein {
   from { background-color: transparent; box-shadow: none;}
   to { background-color: $color-environmental-light; box-shadow: 0 2.5px 100px 5px $color-environmental-accent; }
}