.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120vh);

    &--appearing {
        animation-name: appear-bottom;
        animation-timing-function: ease-out;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }

    &--disappearing {
        animation-name: disappear-bottom;
        animation-timing-function: ease-in;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }

    &__content {
        overflow: auto;
        
        scrollbar-color: $color-text-dark transparent;
        scrollbar-gutter: stable both-edges;
        width: 40rem;
        height: 40rem;
        padding: 3rem;
        background-color: $color-environmental-accent;
        border: 2px solid $color-highlight-extreme;
        border-radius: 1rem;
        color: $color-body-light;

        &::-webkit-scrollbar-track {
            color: red;
        }

        &--shine-in {
            animation-name: shine-in;
            animation-delay: 0.75s;
            animation-timing-function: linear;
            animation-duration: 0.75s;
            animation-fill-mode: forwards;
        }

        &--shine-out {
            animation-name: shine-out;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        .infopiece__text {
            font-family: poppins-regular;
        }
    }
}