.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120vh);

    &--small-width {
        width: 100%;
    }

    &--small-height {
        height: 100%;
    }

    &--appearing {
        animation-name: appear-bottom;
        animation-timing-function: ease-out;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }

    &--disappearing {
        animation-name: disappear-bottom;
        animation-timing-function: ease-in;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }

    &__content {
        overflow: auto;
        
        scrollbar-color: $color-text-dark transparent;
        scrollbar-gutter: stable both-edges;
        padding: 3rem;
        border-radius: 1rem;

        &--default {
            background-color: $color-environmental-accent;
            border: 2px solid $color-highlight-extreme;
            color: $color-body-light;
        }

        &--flight-preview {
            background-color: $color-environmental-light;
            border: none;
            color: $color-environmental-pitch;
        }

        &--small-width {
            width: 100%;
        }

        &--regular-width {
            width: 40rem;
        }

        &--medium-width {
            width: 60rem;
        }

        &--large-width {
            width: 80rem;
        }

        &--small-height {
            height: 100%;
        }

        &--regular-height {
            height: 40rem;
        }

        &--large-height {
            height: 60rem;
        }

        &::-webkit-scrollbar-track {
            color: red;
        }

        &--shine-in {
            animation-name: shine-in;
            animation-delay: 0.75s;
            animation-timing-function: linear;
            animation-duration: 0.75s;
            animation-fill-mode: forwards;
        }

        &--shine-out {
            animation-name: shine-out;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        .modal__header {
            margin-bottom: 2rem;
            @include flex-row(flex-end);
        }

        .modal__closer {
            width: 5rem;
            height: 5rem;
        }

        .infopiece__text {
            font-family: poppins-regular;
        }
    }
}